{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>layui表格学习</title>
    <link href="{% static 'layui/css/layui.css' %}" rel="stylesheet">
</head>
<body>
<button data-method="notice" class="layui-btn" id="testopenlayer">登陆</button>
<table class="layui-hide" id="test" lay-filter="test"></table>

<div id="layercontent" style="display: none; width: 90%; height: 100%; margin:5px auto;">
    <div style="width: 20%; float: left; line-height: 30px">
        <span>用户名：</span>
    </div>
    <div style="width: 70%; float: left">
        <input type="text" class="form-control" id="username">
    </div>
    <hr>
    <div style="width: 20%; float: left; line-height: 30px">
        <span>密码：</span>
    </div>
    <div style="width: 70%; float: left">
        <input type="password" class="form-control" id="pwd">
    </div>
    <hr>
    <div style="width: 20%; float: left; line-height: 30px">
        <span>验证码：</span>
    </div>
    <div style="width: 70%; float: left">
        <input type="text" class="form-control" id="authcode">
    </div>
</div>
</body>
<script type="text/html" id="cityTpl">
    <select id="demoCity1" class="layui-border" lay-ignore>
        <option value="上海">上海</option>
        <option value="苏州">苏州</option>
        <option value="昆山">昆山</option>
        <option value="杭州">杭州</option>
        <option value="宁波">宁波</option>
        <option value="武汉">武汉</option>
        <option value="北京">北京</option>
        <option value="广州">广州</option>
        <option value="深圳">深圳</option>
        <option value="无锡">无锡</option>
        <option value="南京">南京</option>
    </select>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'layui/layui.js' %}"></script>
<script>
    // 入口函数 jquery
    $(function () {
        // ============初始化表格入口============
        initTable();
        // ============响应点击事件的按钮============
        buttonClick();

        // ===========初始化表格===========
        function initTable() {
            // 使用layui table插件 /modules/table.js
            layui.use('table', function () {
                // 实例化表格对象
                let table = layui.table;
                // 开始渲染表格
                table.render({
                    elem: '#test',
                    url: '{% url 'datatable' %}',  // 数据接口
                    method: 'get',
                    cellMinWidth: 80,
                    toolbar: true,
                    cols: [[
                        {type: 'checkbox', fixed: 'left'},
                        {field: 'id', title: '学号', sort: true},
                        {field: 'name', title: '姓名', sort: true},
                        {field: 'gender', title: '性别', sort: true, width: 200},
                        {field: 'age', title: '年龄', sort: true, width: 200},
                        {
                            field: 'city', width: 115, title: '城市', minWidth: 115, templet: '#cityTpl',
                            exportTemplet: function (d, obj) {
                                //console.log(obj)
                                // 处理该字段的导出数据
                                var td = obj.td(this.field); //获取当前 td
                                return td.find('select').val();
                            }
                        },
                        {fixed: 'right', title: '操作', width: 125, minWidth: 125, toolbar: '#barDemo'},

                    ]],
                    done: function (res, current, count) {   //渲染表头
                        $('thead tr').css({'background-color': '#8E236B', 'color': 'white'})
                    },
                    text: "加载数据错误",//加载数据出错时的提示
                    page: true,  // 分页
                    limit: 2, //每页条数
                    limits: [5, 20, 50, 100],
                    parseData: function (res) {   // 渲染后端数据
                        // console.log(res);
                        return {
                            'code': 0, //解析接口状态
                            'msg': '', //解析提示信息
                            'count': res.count, //解析数据长度
                            'data': res.data
                        }
                    }
                })

               // ============监听表格操作！点击案例事件============
                table.on('tool(test)',function (obj){
                    let oneLineData = obj.data
                    // 通过按钮中的lay-event = 'edit' lay-even='del' 属性来区分操作
                    if(obj.event === 'edit'){
                        alert(oneLineData.name)

                    }else if(obj.event === 'del'){
                        alert(oneLineData.id)
                    }
                })

            })
        }

        // ============点击按钮事件============
        function buttonClick() {
            // ============测试弹出层============
            $('#testopenlayer').on('click', function () {
                // 弹出层
                layui.use('layer', function () {
                    // 实例化一个弹出层对象
                    let layer = layui.layer;
                    // 展示弹出层
                    layer.open({
                        type: 1, // 弹出层类型
                        title: "测试登陆弹出层",
                        area: ['500px', '230px'],
                        btn: ['登陆', '注册', '取消'],
                        shade: ['0.5', '#000000'], // 弹出层其他区域阴影
                        shadeClose: true,  //点击其他区域也会关闭弹出层
                        //time: 3000, // 弹出自动关闭事件，单位s
                        anim: 0, // 弹出层动画，默认
                        resize: false,  //弹出放大缩小，默认可变为true
                        offset: 'auto', //弹出层页面位置，默认居中显示
                        content: $('#layercontent'),

                        //  ============弹出层响应回调函数============
                        success: function (layero, index) {
                            // layero 事件 index 索引
                            console.log(layero, index)
                        },
                        /** yes: function (layero, index){
                            // 点击了登陆按钮
                            alert("我们点击了登陆按钮！")
                        }, **/
                        btn1: function (layero, index) {
                            $.ajax({
                                url: '{% url 'login' %}',
                                type: 'post',
                                data: {
                                    username: $('#username').val(),
                                    password: $('#pwd').val(),
                                    authcode: $('#authcode').val()
                                },
                                dataType: 'json',
                                success: function (res) {
                                    if (res.code === 1) {
                                        alert(res.msg)
                                    } else if (res.code === 2) {
                                        alert(res.msg)
                                    }
                                }

                            })
                        },
                        btn2: function (layero, index) {
                            alert("点击了取消按钮！")
                        },
                        cancel: function (layero, index) {
                            // 点击右上角x按钮响应事件
                            alert('你点击了x，关闭了弹出层！！')
                        },
                        end: function (layer, index) {
                            // 弹出层销毁后自动执行的函数
                            // 不管是点了关闭还是取消，都执行，一般用于数据清理
                            alert('弹出层关闭后执行的函数end！')
                        }
                    })
                })
            })
        }
    })
</script>
</html>